python-docx==0.8.11
loguru
openai
pyperclip==1.8.2
pytest==7.2.2
quart
aiohttp
gunicorn
gevent
duckduckgo-search
openapi_schema_pydantic
numexpr
google-search-results
langchain
faiss-cpu
tiktoken
pytest-xdist
socksipy-branch
oauth2client
google-api-python-client
meilisearch
azure-cognitiveservices-speech
pymilvus
chromadb
openpyxl
unstructured[local-inference]
fire
regex
pydantic
pybind11
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
joblib>=1.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
nltk>=3.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability